Package: com.p-x9.showtouch
Name: showtouch
Version: 0.1.0
Architecture: iphoneos-arm
Description: 👆Show a mark at the touched point on window.
Maintainer: p-x9
Author: p-x9
Section: Tweaks
Depends: ${ORION}, firmware (>= 14.0)
